body{
    background-color: #000000;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation{
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .Logo{
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar__navigation  .Logo img{
    width: 80px;

}

.sidebar nav ul{
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar nav ul li{
    padding: 10px 0;

}
.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM sans", sans-serif;
}

.biblioteca{
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px 10px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    
}

.biblioteca .lib__conteudo{
    display: flex;
    justify-content: space-between;
}

.biblioteca .botao__lib{
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    font-family: "DM sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.biblioteca .botao__lib .fa{
    font-size: 20px;
    font-weight: 300;
    color: #b3b3b3;
    margin-right: 10px;
    padding-right: 8px;
}

.biblioteca .lib__conteudo .fa-plus{
    margin: 24px 10px;
}